<!DOCTYPE html>
<html ng-app="calcApp" >
<head>
<meta charset="ISO-8859-1">
<title>Calc App</title>

<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet">

<script type="text/javascript"
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>

<script type="text/javascript">
	var calcApp = angular.module("calcApp", []);

	calcApp.controller("calcCtrl", function() {
		var calc = this;

		calc.calc = {
			num1 : 0,
			num2 : 0,
			op : "",
			result : 0
		};

		calc.results = [];

		calc.doAdd = function() {
			calc.calc.result = calc.calc.num1 + calc.calc.num2;
			calc.calc.op = "Addition";
			calc.results.push(calc.calc);
			calc.calc = {};
		};

		calc.doSub = function() {
			calc.calc.result = calc.calc.num1 - calc.calc.num2;
			calc.calc.op = "Subtraction";
			calc.results.push(calc.calc);
			calc.calc = {};
		};
		
		calc.doMul = function() {
			calc.calc.result = calc.calc.num1 * calc.calc.num2;
			calc.calc.op = "Multiplication";
			calc.results.push(calc.calc);
			calc.calc = {};
		};
		
		calc.doDiv = function() {
			calc.calc.result = calc.calc.num1 / calc.calc.num2;
			calc.calc.op = "Division";
			calc.results.push(calc.calc);
			calc.calc = {};
		};

	});
</script>

</head>
<body ng-controller="calcCtrl as calc">

	<div class="form-group">
		Num1 : <input type="number" ng-model="calc.calc.num1">
	</div>
	<div class="form-group">
		Num2 : <input type="number" ng-model="calc.calc.num2">
	</div>
	<div class="btn-group">
		<button class="btn btn-primary" ng-click="calc.doAdd()">Add</button>
		<button class="btn btn-primary" ng-click="calc.doSub()">Subtract</button>
		<button class="btn btn-primary" ng-click="calc.doMul()">Multiply</button>
		<button class="btn btn-primary" ng-click="calc.doDiv()">Divide</button>
	</div>
	
	<table class="table table-striped table-hover" >
	
		<tr>
			<th>Num1</th>
			<th>Num2</th>
			<th>OP</th>
			<th>Result</th>
		</tr>
		
		<tr ng-repeat="record in calc.results">
			<td>{{record.num1}}</td>
			<td>{{record.num2}}</td>
			<td>{{record.op}}</td>
			<td>{{record.result}}</td>
		</tr>
		
	</table>

</body>
</html>